*{
    margin: 0%;
    padding: 0%;
    /* overflow-x:hidden ; */
}
.z1{
    width:100%;
    background-image: url(food.avif);
    height:70vh;
    /* position:fixed; */
    overflow-x: hidden;

}
.navbar{
    display: flex;
    justify-content: space-around;
    color: white;
    width: 50%;
    margin-left: 45%;
    margin-top: 22px;
}
.mid{
    position: absolute;
    bottom:50%;
    color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    
    h1{
        font-size: 8rem;
    }
    p{
        font-size:3.2rem;
    }
    
}
.searchcontainer{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 2.4rem;
    background: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);
    width: 60vw;
    position: absolute;
    top: 56%;
    margin-left: 20vw;

}
.loc1{
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100%;
    width: max-content;
    border-radius: 0.8rem;
    padding: 0px 1rem;
    -webkit-box-align: center;
    align-items: center;

    .loc1-input{
        border: none;
        font-size: 1.4rem;
        margin: 0px 1rem 0px 0.5rem;
    }
}
.loc2{
        border-radius: 0.8rem;
        width: 53rem;
        height: 100%;
        display: flex;
        position: relative;
        /* justify-content:center; */
        align-items: center;
        margin-left: 2px;

        .loc2-input{
            border: none;
            font-size: 1.4rem;
            margin: 0px 1rem 0px 0.5rem;
        }
}

.z2{
    overflow-x: hidden;
    width: 100%;
}
.part1{
    /* border: 2px solid green; */
    margin:50px;
    display: flex;
    justify-content: space-around;
    gap: 4px;

}
.order{
    border: 2px solid rgb(255, 255, 255);
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;
    width: fit-content;
    height: 16rem;
}
.imgodr{
    /* display: inline-block; */
    position: relative;
    width: 350px;
}
.para1{
    position: absolute;
    bottom: 29%;
    background-color: #fff;
    width: 100%;
    /* padding: 26px; */
    border-radius: 0px 0px 20px 20px;
    height: 68px;
    p{
        padding-top: 8px;
        padding-left: 12px;
    }
}
.z3{
    position: relative;
    margin-left: 8%;
}
.z3-1{
    padding: 10px;
    /* margin-left: 7%; */
    margin-bottom: 0%;
    /* border: 2px solid black; */
    width: fit-content;

    h1{
        font-size: 3.6rem;
        line-height: 1.2;
        font-weight: 400;
        color: rgb(28, 28, 28);
        margin: 0px;
    }
    .z3-head{
        display: flex;
        gap: 300px;
        font-size: 1.2rem;

    }
    span{
        background-color: transparent;
        font-weight: 300;
        color: rgb(255, 126, 139);
    }
}
.z3-2{
    /* border: 2px solid; */
    /* width:max-content; */
    /* margin-left: 7%; */
    margin-top: 30px;
    /* display: flex; */
    /* border-radius: 0.6rem; */
    overflow: hidden;
    margin-bottom: 4px;
}
.card3{
    display: flex;
    /* border-radius: 4px; */
    gap: 40px;
}
.imgfst{
    position: relative;
    /* border-radius: 4px; */

    img{
        height: 18rem;
        max-width:18rem;
        /* background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)) */
        filter: brightness(40%);
        border-radius: 12px;
        margin-bottom: 7px;
    }
    .text-3{
        position: absolute;
        bottom:4%;
        color: #fff;
        margin: 4px;
        font-weight: bolder;
        font-size: larger;
    }
    .symbol-3{
        display: flex;
        align-items: center;
    }

}
.z3-3{
    margin-top: 30px;
    width: 100%;
}
.min-card{
    /* width:13vw; */
    /* height: 13vh; */
    /* overflow-x:scroll; */
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.t-card{
    border: 2px solid rgb(178, 171, 171);
    padding: 14px;
    width: 24vw;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    /* width: -webkit-fill-available; */
}
.z3-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .part1{
        height: 20rem;
        width: 16rem;
        
    }
    .part2{
        position: relative;
        top: -2.5rem;
        width: 36rem;
    
        h2{
            color: rgb(28, 28, 28);
            margin: 0px 0px 1.5rem;
            font-weight: 500;
            font-size: 4.4rem;
            line-height: 5.6rem;
        }
        p{
            line-height: 3rem;
            color: rgba(0, 0, 0, 0.663);
        }
        /* input{
            stroke: red;
            fill: red;
        } */
        .area{
            display: flex;
            gap: 8px;
            height: 45px;
            
            input{
                border-radius: 4px;
                border:0.1rem solid rgba(128, 128, 128, 0.527);
                box-shadow: none;
            }
            button{
                background-color: rgb(224, 53, 70);
                border-radius: 4px;
                width: 8rem;
                box-shadow: none;
                border: none;
            }
        }
        p{
            font-size: 1.5rem;
        }
        .store{
            display:flex;
            gap: 20px;
            height: 3rem;
        } 
    } 
}
.z3-5{
    display: block;
    width: 84vw;
    

    h2{
        font-size: 3.6rem;
        line-height: 1.2;
        font-weight: 500;   
        margin-bottom:4px;
    }
    .one{
        border: 2px solid grey;
        border-radius: 10px;
        height: fit-content;
        margin-bottom: 10px;
        cursor: pointer;
        .in-diff{
            display: inline-block;
            a{
                display: inline-block;
                text-align: left;
                text-decoration: none;
                color: rgb(130, 130, 130);
                margin-bottom: 1.2rem;
                width: 23%;
                font-size: 1.4rem;
                line-height: 1.8;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: bottom;
            }
        }

        div{
            padding: 1rem 2rem 1rem;
            a{
                text-decoration: none;
                color: rgb(130, 130, 130);
                font-size: 1.4rem;
                line-height: 1.8;
                margin-right: 1rem;
            }
        }

        section{
            display: flex;
            justify-content: space-between;
            padding: 1.4rem 2rem;
            align-items: center;
            h5{
                font-size: 2rem;
                margin-bottom: 10px;
                font-weight: lighter;

            }
            
        }
        .open{
            display: none;
        }
    }
    .one:hover{
        .open{
            display: block;
        }
    }

}
.footer{
    display: block;
    width: 84vw;
    margin-left: 8%;


    .f1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h2{
            font-size: 4rem;
            font-weight:900;
        }
    }
    .tag{
        display: flex;
        gap: 20px;
    }
    .t{
        border: 1px solid rgb(21, 20, 20);
        border-radius: 20px;
        width: 8rem;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 3rem;

        img{
            height:2.5rem;
            margin-left: 4px;
        }
    }
    .f2{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:8px ;

        p{
            color: rgb(68, 66, 66);
        }

        .download{
            display: block;

            .playstore{
                display: flex;
                flex-direction: column;

                img{
                    margin-bottom: 1rem;
                    height: 3rem;
                    margin-right: 10px
                }
            }
        }
    }
    .last{
        margin: 2.5rem 2rem 1rem 2rem;
        h2{
            border: 1px solid grey;
        }
        p{
            color: rgb(68, 66, 66);
        }
    }
}